.cabeçalho {
    display: flex;
    justify-content: space-between;
    margin: 6em;
    padding: .5em 0;
}

.saudacao {
    font-weight: 700;
}

.data-e-hora {
    font-weight: 700;
    position: absolute;
    top: 10%;
}

.logo {
    font-size: 36px;
    font-weight: 700;
}